body{background-color: #f2f2f2;}
.well{background-color: #ffffff;}
h2,h3{padding-top: 20px; padding-bottom: 20px;}
h1{padding-top:70px; padding-bottom: 20px;}
img{margin:20px}
hr{margin-top:100px}
.boxshadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
